#root {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: #101010;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.drop {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 90%;
  border-radius: 20px;
  border: dashed white 5px;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
}

.dropzone:hover {
  background-color: rgba(93, 93, 93, 0.18);
}

.remove-item {
  position: absolute;
  left: 10px;
  top: 10px;
  outline: unset;
  border: unset;
  background-color: white;
  color: black;
  z-index: 1;
  cursor: pointer;
  padding: 5px 8px;
  border-radius: 13px;
}
